$primary-color        :rgb(2, 150, 2);
$primary-color-fade   :rgba(2, 150, 2, 0.2);
$text-color           : #333;
$background-gray-color: #c0bebe;
$white-color          : rgba(255, 255, 255);
$black-color          : #000;